[submodule "node_modules/sinon"]
	path = node_modules/sinon
	url = http://github.com/cjohansen/Sinon.JS.git
[submodule "node_modules/buster-format"]
	path = node_modules/buster-format
	url = git://gitorious.org/buster/buster-format.git
[submodule "node_modules/buster-test"]
	path = node_modules/buster-test
	url = git://gitorious.org/buster/buster-test.git
[submodule "node_modules/buster-core"]
	path = node_modules/buster-core
	url = git://gitorious.org/buster/buster-core.git
[submodule "node_modules/buster-assertions"]
	path = node_modules/buster-assertions
	url = git://gitorious.org/buster/buster-assert.git
